div.album {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1.album {
    color: green;
}

.alrow {
    display: inline-block;
    width: 300px;
    margin: 24px;
    border: solid 2px #aaa;
}

.alart {
    width: 300px;
    height: 300px;
}

.songtitle {
    display: table-cell;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding: 16px;
}

.bottombutton {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    margin: 8px;
    color: #fff;
    background-color: green;
}