:root {
    --color1: 173, 237, 255;
    --color2: 254, 231, 255;
    --color3: 255, 253, 189;
}

body {
    margin: 16px;

    background-color: #000;
    background-image:
        linear-gradient(-115deg,
            #0000,
            rgba(var(--color1), 10%) 69.9%,
            rgba(var(--color1), 0.8) 70%,
            rgba(var(--color1), 20%) 100%),
        linear-gradient(-2.5deg,
            #0000,
            rgba(var(--color2), 10%) 79.9%,
            rgba(var(--color2), 0.8) 80%,
            rgba(var(--color2), 20%) 100%),
        linear-gradient(100deg,
            #0000,
            rgba(var(--color3), 10%) 69.9%,
            rgba(var(--color3), 0.8) 70%,
            rgba(var(--color3), 20%) 100%);
    background-blend-mode: screen;

    transition: 1000ms ease;
}

body.clicked {
    background-color: white;
}

#intro-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    user-select: none;

    height: calc(100vh - 32px);
}

#intro-heading {
    margin: 0;

    color: #222;
    text-shadow: 0 0 1rem white;
    font-size: 2rem;

    transition: 1000ms ease;
}

#intro-heading:hover {
    color: transparent;
    background: linear-gradient(45deg, rgb(var(--color1)), rgb(var(--color2)) 100%);
    -webkit-background-clip: text;
}

.intro-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 10em;
    height: 4em;

    border-radius: 0.25em;

    box-shadow: 0 0 1em white;
    background-color: white;
    color: white;
    text-shadow: 0 0 0.5em #222c;
    font-size: large;
    cursor: pointer;

    transition: 500ms ease;
}

.intro-btn:hover {
    height: 6em;
    background-color: #333;
}

.inner-text {
    opacity: 1;
    transition: 600ms ease;
    transform: translateY(0);
}

.inner-text-on-hover {
    opacity: 0;
    transition: 600ms ease;
    transform: translateY(1.5em);
}

.intro-btn:hover .inner-text {
    opacity: 0;
    transform: translateY(-1.5em);
}

.intro-btn:hover .inner-text-on-hover {
    opacity: 1;
    transform: translateY(0);
}

.intro-btn .inner-text,
.intro-btn .inner-text-on-hover {
    position: absolute;
}

a {
    text-decoration: none;
}